# Recitation 2

#### In this recitation, we will talk about using Julia and JuMP for developing optimization models.

In [1]:
import Pkg
Pkg.activate(@__DIR__)
Pkg.instantiate()

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`

In [27]:
using Clp, Cbc, JuMP, Ipopt, DataFrames, CSV

In [3]:
#JuMP Basics
m = Model(solver=CbcSolver())
@variable(m, x >= 0)
@constraint(m, x <= 4)
@objective(m, Max, x)
solve(m)

:Optimal

In [4]:
# Print the optimal value and the optimal solution of the optimization model m
println("The objective value is: ",getobjectivevalue(m))
println("The value of x is: ",getvalue(x))

The objective value is: 4.0
The value of x is: 4.0

`@show` can be used for "verbose" operations

In [20]:
1 + 1 == 2

true

In [21]:
@show  1 + 1 == 2

1 + 1 == 2 = true

true

In [17]:
#Variables

@show a = 4                       # creates a variable with value 4
@show x = [1 2 3]                 # creates x as an array of 3 elements
@show y = [1 2 3; 4 5 6]          # creates y as a matrix of 3 by2
@show z = Array{Float64}(undef, 4) # pre allocates z as an array of doubles 
@show w = Array{Int64}(undef, 4)   # pre allocates w as a vector of integers
@show x = rand()                  # x is a random number between0,1
@show x = rand(2,3)               # x is matrix with random number between 0,1
@show s = ["hi","bye"]            # s is an array with strings
@show q = false                   # creates q as a Boolean with value false
@show typeof(x)                   # gives the type of the variable x

a = 4 = 4
x = [1 2 3] = [1 2 3]
y = [1 2 3; 4 5 6] = [1 2 3; 4 5 6]
z = Array{Float64}(undef, 4) = [2.4109e-314, 2.4109e-314, 2.4109e-314, 2.2218e-314]
w = Array{Int64}(undef, 4) = [1, 1, 4883562497, 0]
x = rand() = 0.9492286124831835
x = rand(2, 3) = [0.831532 0.493806 0.930269; 0.114036 0.423159 0.0357672]
s = ["hi", "bye"] = ["hi", "bye"]
q = false = false
typeof(x) = Array{Float64,2}

Array{Float64,2}

In [10]:
#If/Else

x = 3
if x > 4
    println("x is greater than ", 4) # prints in the screen
else
    println("x is less or equal than ", 4)
end

x is less or equal than 4

In [11]:
#Loops
s = 0
for i in 1:10
    s = s + i
end # calculates the sum of the numbers 1 to 10

println("s = ",s)

s = 55

In [12]:
#Functions

# function that gives the average and length of a vector


function average(x)
s = 0
for i in 1:length(x)
    s = s + x[i]
end
return s/length(x), length(x)
end

x = [1 2 3]
(μ, l) = average(x)

(2.0, 3)

In [13]:
#Strings
string("a", "b")     # concatenate strings

"ab"

In [14]:
#Print
i=1
print("i = ", i)     # prints 
println("i = ", i)   # prints and skips a line

i = 1i = 1

In [16]:
#Operators

a=3;b=5;
@show a==b
@show a<=b
@show a>=b
@show a<b
@show a>b
@show a!=b
@show a<b
@show a>b

a == b = false
a <= b = true
a >= b = false
a < b = true
a > b = false
a != b = true
a < b = true
a > b = false

false

In [23]:
#Indexing
@show a = [1 2 3; 4 5 6; 7 8 9]
@show b = a[:,2]           # then b = [2; 5; 8]
@show c = a[1:2,2:3]       # then c = [2 3; 5 6]

a = [1 2 3; 4 5 6; 7 8 9] = [1 2 3; 4 5 6; 7 8 9]
b = a[:, 2] = [2, 5, 8]
c = a[1:2, 2:3] = [2 3; 5 6]

2×2 Array{Int64,2}:
 2  3
 5  6

In [28]:
#ReadCSV

data_knapsack = CSV.read("knapsack_data.csv") # file should be in same directory where Julia is running

4×2 DataFrame
│ Row │ 1      │ 1_1    │
│     │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┤
│ 1   │ 2      │ 6      │
│ 2   │ 15     │ 18     │
│ 3   │ 6      │ 22     │
│ 4   │ 28     │ 7      │

## Diet Problem

In [29]:
using JuMP

#Define model 
m = Model(solver=CbcSolver())

#Food available
S = ["brownies","ice cream","cola","cheese cake"]

#Non-negativity
@variable(m, y[S] >= 0)
# @variable(m, y[S] >= 0, Int) #(the decision variables can be chosen to be integers)

#Minimum calories
@constraint(m, 400y["brownies"] + 200y["ice cream"] + 150y["cola"] + 500y["cheese cake"] >= 500)

#At least 6 grams of chocolate
@constraint(m, 3y["brownies"] + 2y["ice cream"] >= 6)

#At least 10 grams of sugar
@constraint(m, 2y["brownies"] + 2y["ice cream"] + 4y["cola"] + 4y["cheese cake"] >= 10)

#At least 8 grams of fat
@constraint(m, 2y["brownies"] + 4y["ice cream"] + 1y["cola"] + 5y["cheese cake"] >= 8)

#Minimize cost of consumption
@objective(m, Min, 0.5y["brownies"] + 0.2y["ice cream"] + 0.3y["cola"] + 0.8y["cheese cake"])


#Solve the optimization problem
solve(m)

#Determine consumption amounts
println("variable values: ", getvalue(y))

#Determine optimal cost of consumption
println("Objetive value: ", getobjectivevalue(m))

variable values: y: 1 dimensions:
[   brownies] = 0.0
[  ice cream] = 3.0000000000000004
[       cola] = 0.9999999999999998
[cheese cake] = 0.0
Objetive value: 0.9

## Knapsack Problem

In [31]:
using JuMP, Cbc

#Define model
m = Model(solver=CbcSolver())

#Define capacity
C = 11

#Read data
d_k = CSV.read("knapsack_data.csv", header = false)

#Weights from first column
w=d_k[:,1]
#w = [1 2 15 6 28]
#Values from second column
v=d_k[:,2]
#v = [1 6 18 22 7]

#Assign binary values to items
@variable(m, x[1:5], Bin)

#Constraint on total weight
@constraint(m, sum(w[i]*x[i] for i in 1:5) <= C) 

#Maximize value from items
@objective(m, Max, sum(v[i]*x[i] for i in 1:5))



#Solve model
solve(m)

x_sol = getvalue(x)
#Determine which items to carry 
println("variable values: ", x_sol)
#Determine value from items carried
println("Objetive value: ", getobjectivevalue(m))
#Determine the weight of the knapsack
println("Knapsack weight: ", x_sol'*w)

variable values: [1.0, 1.0, 0.0, 1.0, 0.0]
Objetive value: 29.0
Knapsack weight: 9.0

## Data Frames

In [33]:
using DataFrames

df= CSV.read("random.csv", separator=',')
#We read in a (100,4) table of randomly generated integers

CSV.write("random2.csv",df, separator=',')

"random2.csv"

In [34]:
Column1=df[1]
#Accessing an entire column by index

100-element Array{Union{Missing, Int64},1}:
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
  ⋮
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99

In [35]:
Row1=df[1,:]
#Accessing an entire row by index

DataFrameRow
│ Row │ Index  │ A      │ B      │ C      │ D      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┼────────┼────────┤
│ 1   │ 0      │ 78     │ 90     │ 44     │ 34     │

In [36]:
Element1=df[1,1]
#Accessing a specific element

0

In [37]:
ColumnRange = df[1:3,1]
#Accessing a range of a column

3-element Array{Union{Missing, Int64},1}:
 0
 1
 2

In [38]:
RowRange = df[1,1:3]
#Accessing a range of a row

DataFrameRow
│ Row │ Index  │ A      │ B      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┤
│ 1   │ 0      │ 78     │ 90     │

In [40]:
ColumnEven = df[df[1] .%2 .==0,:]
#Accessing column ranges by condition, even numbers

50×5 DataFrame
│ Row │ Index  │ A      │ B      │ C      │ D      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┼────────┼────────┤
│ 1   │ 0      │ 78     │ 90     │ 44     │ 34     │
│ 2   │ 2      │ 39     │ 1      │ 23     │ 32     │
│ 3   │ 4      │ 13     │ 25     │ 26     │ 95     │
│ 4   │ 6      │ 63     │ 74     │ 49     │ 53     │
│ 5   │ 8      │ 86     │ 1      │ 54     │ 37     │
│ 6   │ 10     │ 75     │ 38     │ 18     │ 9      │
│ 7   │ 12     │ 79     │ 51     │ 97     │ 69     │
│ 8   │ 14     │ 68     │ 35     │ 81     │ 18     │
│ 9   │ 16     │ 34     │ 20     │ 71     │ 77     │
│ 10  │ 18     │ 19     │ 34     │ 70     │ 61     │
⋮
│ 40  │ 78     │ 43     │ 90     │ 17     │ 75     │
│ 41  │ 80     │ 77     │ 70     │ 99     │ 5      │
│ 42  │ 82     │ 59     │ 13     │ 13     │ 52     │
│ 43  │ 84     │ 83     │ 83     │ 73     │ 9      │
│ 44  │ 86     │ 57     │ 78     │ 26     │ 68     │
│ 45  │ 88     │ 80     │ 85     │ 17     │ 35     │
│ 46  │ 90     │ 65     │ 77     │ 37     │ 23     │
│ 47  │ 92     │ 14     │ 27     │ 20     │ 82     │
│ 48  │ 94     │ 63     │ 16     │ 9      │ 52     │
│ 49  │ 96     │ 20     │ 60     │ 53     │ 3      │
│ 50  │ 98     │ 24     │ 6      │ 6      │ 46     │

In [41]:
(rows, cols)=size(ColumnEven)

(50, 5)

In [43]:
using Statistics
mean(df[:A])
#Determine mean of specific column in dataframe

54.24

In [45]:
sort!(df, (:A), rev = (true))
#Sort specific column in dataframe, forward or reverse

100×5 DataFrame
│ Row │ Index  │ A      │ B      │ C      │ D      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┼────────┼────────┤
│ 1   │ 15     │ 99     │ 15     │ 52     │ 29     │
│ 2   │ 32     │ 99     │ 87     │ 99     │ 27     │
│ 3   │ 11     │ 98     │ 40     │ 48     │ 71     │
│ 4   │ 63     │ 98     │ 79     │ 12     │ 15     │
│ 5   │ 95     │ 98     │ 29     │ 36     │ 30     │
│ 6   │ 30     │ 94     │ 88     │ 70     │ 72     │
│ 7   │ 13     │ 93     │ 97     │ 18     │ 53     │
│ 8   │ 58     │ 93     │ 35     │ 51     │ 32     │
│ 9   │ 50     │ 92     │ 50     │ 25     │ 1      │
│ 10  │ 66     │ 92     │ 52     │ 99     │ 64     │
⋮
│ 90  │ 4      │ 13     │ 25     │ 26     │ 95     │
│ 91  │ 47     │ 10     │ 50     │ 94     │ 6      │
│ 92  │ 28     │ 9      │ 20     │ 31     │ 47     │
│ 93  │ 48     │ 9      │ 91     │ 41     │ 7      │
│ 94  │ 55     │ 7      │ 12     │ 10     │ 61     │
│ 95  │ 72     │ 4      │ 15     │ 13     │ 9      │
│ 96  │ 71     │ 3      │ 45     │ 90     │ 3      │
│ 97  │ 9      │ 2      │ 97     │ 83     │ 4      │
│ 98  │ 93     │ 2      │ 79     │ 51     │ 17     │
│ 99  │ 65     │ 1      │ 61     │ 10     │ 80     │
│ 100 │ 20     │ 0      │ 55     │ 9      │ 79     │